body {
	background-color: rgb(100, 21, 13);
	margin: 0;
}

div#flex {
	display: flex;
	flex-flow: column wrap;
	height: calc(100vh - 40px);
	margin: 20px;
}

aside, main, section, header, footer {
	color: black;
	background-color: lightgray;
	
	border-radius: 20px;
	padding: 20px;
	border: 2px solid purple;
	box-sizing: border-box;

}
aside, main, section {
	max-width: calc(80vw - 60px);
	flex: 1;
}

aside {
	font-size: 50px;
	padding: 30px;
}

main {
	margin: 10px 0;
}

header, footer {
	max-width: 10vw;
	flex: 0 1 100vh;
}

header {
	margin-right: 10px;
}

footer {
	margin-left: 10px;
}

aside > span {
	display: inline-block;
	background-color: red;
	font-size: 4rem;
	padding: 5px;
	border-radius: 20px;
}


main {
	font-family: Arial, sans-serif;
}

section {
	font-size: 60px;
	font-family: monospace;
}